
@import '../../Dropbox/web/lib/nib'

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"

grid(columns, w=1, m=2)
	display:inline-block
	vertical-align:top
	margin:m+0% 0 0 m+0%
	width:((100%/columns)*w)-((m*(columns+w))/columns)

::selection
	background: rgba(0,0,0,0.8)
	text-shadow: none
	color: #fff

*
	box-sizing:     border-box
	text-rendering: optimizeLegibility
	position:       relative

img
	max-width: 100%
	border: none
html
	overflow-y: scroll
	font-family: 'Oxygen','Helvetica Neue', sans-serif
	line-height:1.4em
	background:#9d1020
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iIzlkMTAyMCI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiNhYTEwMjAiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiNhYTEwMjAiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=");
	//background: linear-gradient(#ccd5de,#70869b)
body
	margin: 0
	max-width:1010px
	margin:0 auto
	background:#fff
	box-shadow:0 0 10px rgba(#000,.4)

html,body
	min-height: 100%

h1,h2,h3,h4,h5
	font-family:"Titan One"
	font-weight:300
	margin-top:0
	text-transform:capitalize
h1
	font-size:2em
ul
	padding-left:1.1em

a
	color:#0c3f8c

header
	text-align:center
	padding:1em
	background:url("http://farm9.staticflickr.com/8085/8466364514_2c8460e30e_k.jpg")
	background-size:cover
header img
	width:513px
	-webkit-filter:drop-shadow(0 0 10px #fff)
	-webkit-transform:translateZ(1px)
nav
	background:#0c3f8c
	text-align:center
	a
		color:#fff
		padding:.7em 3em
		text-decoration:none
		display:inline-block
main
	display:block
article
	padding:.7em
	width:50%
	display:inline-block
	vertical-align:top
section
	padding:.7em
	background:#fff
section:nth-child(2n)
	background:#eee
section>figure
	padding:.7em
	margin:0
	margin-bottom:.7em
	width:50%
	display:inline-block
	vertical-align:top
	height:260px
	overflow:hidden
	img
		box-shadow:0 0 5px rgba(#000,.3)
@media screen and (max-width: 600px)
	nav a
		padding:.7em 2em
@media screen and (max-width: 550px)
	article
		width:100%
	section>figure
		display:none
	nav a
		width:50%
		display:inline-block

.ratio-wrap
	display:inline-block

.ratio-wrap:before
	content:""
	display:block

.ratio-inner
	position:absolute
	top:0
	left:0
	width:100%
	height:100%

